{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos - Site de Menuiserie</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    {% include 'header.html' %}

    <div id="contents">
        <div>
            <div class="body" id="about">
                <div id="sidebar">
                    <div class="body">
                        <img src="{% static 'images/resort.png' %}" alt="Img">
                        <div class="contact">
                            <p>
                                Pour les commandes et les demandes, veuillez appeler : <b>760-962-9541</b> ou vous pouvez nous rendre visite à : <b>4885 Wilson Street<br> Victorville, CA 92392</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <h1>À propos</h1>
                    <h4>Nous avons des modèles gratuits pour tout le monde</h4>
                    <p>
                        Nos modèles de site web sont créés avec inspiration, vérifiés pour leur qualité et leur originalité, et minutieusement découpés et codés. De plus, ils sont absolument gratuits ! Vous pouvez en faire beaucoup avec eux. Vous pouvez les modifier. Vous pouvez les utiliser pour concevoir des sites web pour des clients, tant que vous acceptez les <a href="http://www.freewebsitetemplates.com/about/terms/">Conditions d'utilisation</a>. Vous pouvez même supprimer tous nos liens si vous le souhaitez.
                    </p>
                    <h4>Nous avons plus de modèles pour vous</h4>
                    <p>
                        Vous cherchez plus de modèles ? Parcourez tous nos <a href="http://www.freewebsitetemplates.com/">Modèles de Site Web Gratuits</a> et trouvez ce que vous cherchez. Mais si vous ne trouvez aucun modèle de site que vous pouvez utiliser, vous pouvez essayer notre service de <a href="http://www.freewebsitetemplates.com/freewebdesign/">Design Web Gratuit</a> et nous parler de votre besoin. Peut-être que vous recherchez quelque chose de différent, quelque chose de spécial. Et nous adorons le défi de faire quelque chose de différent et de spécial.
                    </p>
                    <h4>Faites partie de notre communauté</h4>
                    <p>
                        Si vous rencontrez des problèmes et des préoccupations concernant ce modèle de site web, rejoignez la discussion <a href="http://www.freewebsitetemplates.com/forums/">sur notre forum</a> et rencontrez d'autres personnes dans la communauté qui partagent les mêmes intérêts que vous.
                    </p>
                    <h4>Détails du modèle</h4>
                    <p>
                        Version design 7<br> Version code 2<br><br> Détails du modèle de site, discussion et mises à jour pour ce <a href="http://www.freewebsitetemplates.com/discuss/woodworkingwebsitetemplate/">Modèle de Site de Menuiserie</a>.<br><br> Design du modèle de site par <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br><br> <span>N'hésitez pas à supprimer tout ou partie du texte et des liens de cette page et à les remplacer par votre propre contenu À propos.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
