{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog - Wood Working Website Template</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    {% include 'header.html' %}
    <div id="contents">
        <div>
            <div class="body" id="blog">
                <div id="sidebar">
                    <div>
                        <h5>Featured Blogs</h5>
                        <ul class="posts">
                            <li>
                                <span class="time">Apr 16</span>
                                <p>
                                    <a href="{% url 'blog' %}">Tips On Arranging Furniture</a> This website template has been designed by Free Website Templates for you, for free.
                                </p>
                            </li>
                            <li>
                                <span class="time">Apr 15</span>
                                <p>
                                    <a href="{% url 'blog' %}">How To Maintain Wooden Furniture</a> And we love the challenge of doing something different and something special.
                                </p>
                            </li>
                            <li>
                                <span class="time">Apr 16</span>
                                <p>
                                    <a href="{% url 'blog' %}">The Newest Innovation On Wooden</a> You can replace all this text with your own text. What’s more, they’re absolutely free!
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5>Blog Categories</h5>
                        <ul>
                            <li>
                                <a href="{% url 'blog' %}">Carved Creations</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Furniture</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Maintenance and Cleaning</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Innovations</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Modern And New</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Classic and Timeless</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5>Archives</h5>
                        <ul>
                            <li>
                                <a href="{% url 'blog' %}">March 2023</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">February 2023</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">January 2023</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">December 2023</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">November 2023</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">October 2023</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="main">
                    <div class="viewer">
                        <span class="time">Apr 16</span>
                        <h3><a href="">CC's Carving Master and Founder</a></h3>
                        <p class="info">
                            Posted By: <a href="{% url 'blog' %}">Admin</a> in <a href="{% url 'blog' %}">Production</a>, <a href="{% url 'home' %}">Carved Creations</a>
                        </p>
                        <div class="frame">
                            <img src="{% static 'images/carving-master.jpg' %}" alt="Img">
                        </div>
                        <p>
                            This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
                        </p>
                        <a href="{% url 'blog' %}" class="more">Read More</a> <a href="{% url 'blog' %}" class="comments">0 Comments</a>
                    </div>

                    <!-- Ajout de votre nouvel article -->
                    <div class="viewer">
                        <span class="time">Apr 16</span>
                        <h3><a href="">Conseils pour Arranger le Mobilier</a></h3>
                        <p class="info">
                            Posted By: <a href="{% url 'blog' %}">Admin</a> in <a href="{% url 'blog' %}">Furniture</a>
                        </p>
                        <p>
                            Ce modèle de site web a été conçu pour vous, gratuitement. Vous pouvez remplacer tout ce texte par votre propre texte.
                        </p>
                        <a href="" class="more">Lire la suite</a> <a href="{% url 'blog' %}" class="comments">0 Comments</a>
                    </div>

                    <div id="pagination">
                        <a href="{% url 'gallery' %}" class="previous">Previous</a>
                        <a href="{% url 'gallery' %}" class="next">Next</a>
                        <ul>
                            <li>
                                Pages:
                            </li>
                            <li class="selected">
                                <a href="{% url 'gallery' %}">1</a>
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">2</a>
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">3</a>
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
