{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Mon Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div id="header">
        <div>
            <div id="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="LOGO"></a>
            </div>
            <ul id="navigation">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'about' %}">À propos</a></li>
                <li><a href="{% url 'gallery' %}">Galerie</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li class="selected"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="contents">
        <div>
            <div class="body" id="contact">
                <div id="sidebar">
                    <div class="body">
                        <img src="{% static 'images/chair-small.png' %}" alt="Img">
                        <div class="contact">
                            <p>
                                Pour toute commande ou demande, veuillez appeler : <b>760-962-9541</b> ou visitez-nous à : <b>4885 Wilson Street<br> Victorville, CA 92392</b> ou envoyez-nous un email à : <b class="email">info@carvedcreations.com</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <h1>Contact</h1>
                    <p>
                        Ce modèle de site web a été conçu par <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. Vous pouvez remplacer tout ce texte par le vôtre. Vous êtes libre d'utiliser ce modèle sans lien vers notre site. Si vous avez des problèmes pour modifier ce modèle, n'hésitez pas à demander de l'aide sur le <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
                    </p>
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <label>Nom</label>
                        <input type="text" name="name" required>
                        <label>Adresse Email</label>
                        <input type="email" name="email" required>
                        <label>Numéro de Contact</label>
                        <input type="text" name="contact_number" required>
                        <label>Message</label>
                        <textarea name="message" required></textarea>
                        <input type="submit" value="Envoyer le Message" class="btn1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div>
            <div id="links">
                <div class="showroom">
                    <h4>Visitez notre Showroom</h4>
                    <a href="{% url 'gallery' %}"><img src="{% static 'images/show-room.png' %}" alt="Img"></a>
                    <p>
                        4885 Wilson Street<br> Victorville, CA 92392<br><br> 760-962-9541<br><br> <a href="mailto:info@carvedcreations.com">info@carvedcreations.com</a>
                    </p>
                </div>
                <div>
                    <h4>Articles de Blog Récents</h4>
                    <ul class="posts">
                        <li>
                            <span class="time">Apr 16</span>
                            <p><a href="{% url 'blog' %}">Le Maître Carveur et Propriétaire</a> Peut-être que vous cherchez quelque chose de différent, quelque chose de spécial.</p>
                        </li>
                        <li>
                            <span class="time">Apr 15</span>
                            <p><a href="{% url 'blog' %}">Hôtels 5 Étoiles Que Nous Fournissons</a> Et nous aimons le défi de faire quelque chose de différent et de spécial.</p>
                        </li>
                        <li>
                            <span class="time">Apr 14</span>
                            <p><a href="{% url 'blog' %}">Comment Choisir le Bon Meuble Pour Vous</a> De plus, ils sont absolument gratuits ! Vous pouvez en faire beaucoup avec eux.</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <form action="#" method="post" id="newsletter">
                        <h4>Rejoignez notre Newsletter</h4>
                        <input type="text" placeholder="Entrez votre adresse email pour les mises à jour" required>
                        <input type="submit" value="S'inscrire" class="btn2">
                    </form>
                    <div id="connect">
                        <h4>Médias Sociaux</h4>
                        <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                        <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
                        <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'about' %}">À propos</a></li>
                <li><a href="{% url 'gallery' %}">Galerie</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <p id="footnote">
                © Copyright 2023. Tous droits réservés.
            </p>
        </div>
    </div>
</body>
</html>
