{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Mon Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
	{% include 'header.html' %}

    <div id="contents">
        <div>
            <div class="body" id="contact">
                <div id="sidebar">
                    <div class="body">
                        <img src="{% static 'images/chair-small.png' %}" alt="Img">
                        <div class="contact">
                            <p>
                                Pour toute commande ou demande, veuillez appeler : <b>760-962-9541</b> ou visitez-nous à : <b>4885 Wilson Street<br> Victorville, CA 92392</b> ou envoyez-nous un email à : <b class="email">info@carvedcreations.com</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <h1>Contact</h1>
                    <p>
                        Ce modèle de site web a été conçu par <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. Vous pouvez remplacer tout ce texte par le vôtre. Vous êtes libre d'utiliser ce modèle sans lien vers notre site. Si vous avez des problèmes pour modifier ce modèle, n'hésitez pas à demander de l'aide sur le <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
                    </p>
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <label>Nom</label>
                        <input type="text" name="name" required>
                        <label>Adresse Email</label>
                        <input type="email" name="email" required>
                        <label>Numéro de Contact</label>
                        <input type="text" name="contact_number" required>
                        <label>Message</label>
                        <textarea name="message" required></textarea>
                        <input type="submit" value="Envoyer le Message" class="btn1">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
