{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet1</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
{% include 'header.html' %}
    <div id="contents">
        <div>
            <div class="body">
                <div id="adbox">
                    <img src="{% static 'images/chair.jpg' %}" alt="Img">
                    <span class="info">Whicker Chair <em>$250.00</em>
                        <a href="{% url 'home' %}" class="btn1">View Details</a>
                    </span>
                    <div class="details">
                        <h1>High Quality<br> Wooden Furnitures<br> That's Built to Last.</h1>
                        <p>
                            You can choose from our wide selection of furnitures on display. Either for your home, office or other establishments.
                        </p>
                    </div>
                </div>
                <ul id="featured">
                    <li>
                        <div>
                            <img src="{% static 'images/living-room.jpg' %}" alt="Img"> <a href="{% url 'home' %}"></a>
                        </div>
                        <div class="details">
                            <h4>Living Room</h4>
                            <p>
                                This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free.
                            </p>
                        </div>
                    </li>
                    <li class="bedroom">
                        <div>
                            <img src="{% static 'images/bedroom.jpg' %}" alt="Img"> <a href="{% url 'home' %}"></a>
                        </div>
                        <div class="details">
                            <h4>Bedroom</h4>
                            <p>
                                You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                            </p>
                        </div>
                    </li>
                    <li class="kitchen">
                        <div>
                            <img src="{% static 'images/kitchen.jpg' %}" alt="Img"> <a href="{% url 'home' %}"></a>
                        </div>
                        <div class="details">
                            <h4>Kitchen</h4>
                            <p>
                                If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="contact">
                    <p>
                        For Order and Inquiries Please Call: <b>760-962-9541</b> Or you can visit us at: <b>4885 Wilson Street<br> Victorville, CA 92392</b>
                    </p>
                </div>
                <div class="blog">
                    <h4>From the Blog</h4>
                    <div>
                        <img src="{% static 'images/carving-small.png' %}" alt="Img"> <span>April 16, 2023</span>
                        <p>CC's Carving</p>
                        <a href="{% url 'blog' %}" class="more">Read More</a>
                    </div>
                    <div>
                        <img src="{% static 'images/resort-small.png' %}" alt="Img"> <span>April 15, 2023</span>
                        <p>5 Star Resorts</p>
                        <a href="{% url 'blog' %}" class="more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
