{% extends 'base.html' %}

{% load static %}

{% block title %}Services - Yoga{% endblock %}

{% block content %}
<div id="content">
    <div>
        <h2>Services</h2>
        <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
        <ul>
            <li>
                <a href="index.html"><img src="{% static 'images/group-exercise.jpg' %}" alt="Image" /></a>
                <div>
                    <h3><a href="index.html">Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas sapien vierra aliquam a libero nuncmauris.</a></h3>
                    <ul>
                        <li>Aliquam eget ligula et diam sollicitud</li>
                        <li>Sed venenatis arcu a felis aliquet et</li>
                        <li>Sed laoreet felis et ante</li>
                        <li>Viverra arcu a felis aliquet</li>
                        <li>Pellentesque consectetur tellus sed</li>
                    </ul>
                    <ul>
                        <li>Diam sollicitud Aliquam eget ligula</li>
                        <li>Venenatis arcu a felis aliquet</li>
                        <li>Felis et antessed laoreet</li>
                        <li>Consectetur tellus Pellensteque</li>
                        <li>Ullamcorper ut interdum sollicitud</li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="index.html"><img src="{% static 'images/abdominal-exercise.jpg' %}" alt="Image" /></a>
                <div>
                    <h3><a href="index.html">Vestibulum, lorem non scelerisque semper, tortor nisi suscipit magna, in faucibus augue id neque</a></h3>
                    <span>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>.</span>
                    <ul class="section">
                        <li>Sollicitud Aliquam</li>
                        <li>Arcu a felis aliquet</li>
                        <li>Felis et antesed laoreet</li>
                        <li>Tellus Pellentesque</li>
                        <li>Quam commodo</li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="index.html"><img src="{% static 'images/group-exercise2.jpg' %}" alt="Image" /></a>
                <div>
                    <h3><a href="index.html">We Have More Templates for You</a></h3>
                    <p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
